*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    box-sizing: border-box;

}
body{
    background-color: white;
}
header{
    width: 100%;
    height: 100px;
    background-color: #e8faeb;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 ;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
}
.menu-block{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding-left: 30px;
    padding-right:30px;
    text-decoration: none;
    border-radius: 50px;
    
}
.nav-bar ul li a:hover{
   background:lightgreen;
   /*background:lightblue ;*/
    /*background :white;*/
    
    

}
.nav-bar ul li a.active{
    color:rgb(0, 0, 0);
    background :#3CCF4E;
    font-weight: lighter;
    color: white;
    /*background :rgb(63, 63, 239)*/
    /*text-decoration: underline;*/
}
#account img{
    width: 35%;
}
#account a:hover{
    background:none;
    
    
}
.Search-input{
    height: 20px;
    width: 100%;
    background-color:white;
} 
.Search-input input{
    background: white;
    float: right;
    border-radius: 8px;
    width:13%;
    border-style: solid;
    height: 20px;
    margin-right: 70px;
    margin-bottom: 10px;
    
}
/*======================Footer css=====================================*/
.footer-content{
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: 200px;
    background-color: #e8faeb;
    
}
.footer-logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
    margin-top:50px;
}
.footer-logo span{
    font-size: 15px;
    margin-top: -5px;
}
.v1{
    position: absolute;
    border-left: 3px solid black;
    height: 150px;
    margin-left: 420px;
    margin-top: -90px;
}
.footer-text{
    margin-left: 450px;
}
.footer-text ul{
    float: left;
    padding-left: 80px;
    margin-top: -70px;
}
.footer-text ul li{
    padding-bottom: 10px;
}
/*-----------------------------------------*/

.content{
    margin-left: 250px;
    margin-top: 50px;

}
.content h2{
    text-decoration: underline;
}
.reserve-box{
    margin-left: 250px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 10px;
    width:1000px;
    height: 300px;
}
.reserve-box p{
    margin-top:30px;
    margin-left: 30px;
    font-weight: bold;
    font-size:18px;
}
.reserve-box label{
    margin-left:40px;
}
.reserve-box input{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border:1px solid ;
    margin-left:5px;
}
.reserve-box select{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border:1px solid ;
    margin-left:5px;
}
#reserve-btn{
    text-align: center;
    border-style: none;
    color: white;
    height: 50px;
    width: 170px;
    display: block;
    margin-left: 425px;
    margin-top: 70px;
    background: rgb(30, 193, 62);
    font-size: 18px;
}
#reserve-btn:hover{
    background-color:rgb(38, 173, 61) ;
}
/*---------------------------------------------------*/


