*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    box-sizing: border-box;

}
body{
    background-color: white;
}
header{
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 ;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
}
.menu-block{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding-left: 30px;
    padding-right:30px;
    text-decoration: none;
    border-radius: 50px;
    
}
.nav-bar ul li a:hover{
   background:lightgreen;
   /*background:lightblue ;*/
    /*background :white;*/
    
    

}
.nav-bar ul li a.active{
    color:rgb(0, 0, 0);
    background :#3CCF4E;
    font-weight: lighter;
    color: white;
    /*background :rgb(63, 63, 239)*/
    /*text-decoration: underline;*/
}
#account img{
    width: 35%;
}
#account a:hover{
    background:none;
    
    
}
.Search-input{
    height: 20px;
    width: 100%;
    background-color:white;
} 
.Search-input input{
    background: white;
    float: right;
    border-radius: 8px;
    width:13%;
    border-style: solid;
    height: 20px;
    margin-right: 70px;
    margin-bottom: 10px;
    
}
#signout{
    font-weight: bold;
    font-size: 15px;
    padding:4px;
    border-radius: 10px;
    border-style: none;
  
  }
  #signout:hover{
    cursor: pointer;
    background-color: lightgreen;
  }
/*======================Footer css=====================================*/
.footer-content{
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: 0px;

    background-color: #9fff9c;
    
}
.footer-logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
    margin-top:50px;
}
.footer-logo span{
    font-size: 15px;
    margin-top: -5px;
}
.v1{
    position: absolute;
    border-left: 3px solid black;
    height: 150px;
    margin-left: 420px;
    margin-top: -90px;
}
.footer-text{
    margin-left: 450px;
}
.footer-text ul{
    float: left;
    padding-left: 80px;
    margin-top: -70px;
}
.footer-text ul li{
    padding-bottom: 10px;
}

/*------------------------------------------------------------*/
h2
{
    margin-top: 50px;
    margin-left:250px;
    color: #333;
}
.Data
{
    margin-top: 100px;
	max-width: 800px;
    margin: auto;
	margin-bottom: 75px;
    padding: 20px;
	border-radius: 5px;
	border-style: groove;
    border: 2px solid black;
}
table tr td
{
    text-align: left;
    width: 50%;
    padding: 5px;
	padding-right:50px;
}
input[type="text"]
{
    width: 100%;
    padding: 10px;
	padding-right:25px;
    border: 1px solid ;
    border-radius: 4px;
    resize: vertical;
}
textarea 
{
	width: 100%;
    padding: 10px;
	padding-right:50px;
    border: 1px solid ;
    border-radius: 4px;
    resize: vertical;
}
input[type="submit"] 
{
      background-color:lightgreen;
      color: black;
      padding: 10px 20px;
      border: solid;
      border-radius: 4px;
      cursor: pointer;
      float: left;
}	
input[type="submit"]:hover
{
      background-color:rgb(20, 227, 20);

}